<div class="container py-4">
    <div class="row d-md-flex justify-content-center">
        
        <div class="col-md-8">
            
            <app-posts *ngIf="posts" [posts]="posts"
            (open)="openPost($event)"
            (openAuthor)="openProfile($event)"
            (openTag)="onTag($event)"
            ></app-posts>

        </div>

        <div class="col-md-4">

        </div>

        <div class="col-12">
            <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
                (scrolled)="onScroll()"></div>
        </div>

    </div>
</div>